.section-content {
  padding: 48px 0;
  @media all and ($mobile) {
    padding: 32px 0;
    & + section {
      padding-top: 0;
    }
  }
  .container {
    > :last-child:not(.btn-list) {
      margin-bottom: 0;
    }
  }
  .section-title {
    margin-bottom: 28px;
    max-width: 700px;
    @media all and ($tablet) {
      font-size: 46px;
    }
    @media all and ($mobile) {
      font-size: 36px;
    }
    @media all and ($mobile-small) {
      font-size: 26px;
    }
  }
  .content {
    max-width: 1125px;
    margin-bottom: 50px;
    &.big {
      @media all and ($tablet) {
        font-size: 22px;
        @include content_heading_sizes(22px, 46px);
      }
      @media all and ($mobile) {
        font-size: 20px;
        @include content_heading_sizes(20px, 36px);
      }
      @media all and ($mobile-small) {
        font-size: 18px;
        @include content_heading_sizes(18px, 26px);
      }
    }
  }
}

.section-form {
  padding: 28px 0 200px;
  @media all and ($laptop) {
    padding-bottom: 150px;
  }
  @media all and ($mobile) {
    padding-bottom: 100px;
  }
}

.form-wrap {
  max-width: 635px;
  .wpcf7-form-control-wrap {
    display: block;
  }
  label {
    display: block;
    margin-bottom: 8px;
    @include font($bold, $size-big, $font-main, $line-height-heading-2);
    color: $color-text;
    span:not(.wpcf7-list-item-label) {
      padding-left: 3px;
      color: red;
    }
    @media all and ($mobile-small) {
      font-size: 20px;
    }
  }
  .input-style[name="your-name"] {
    max-width: 445px;
  }
}

.form-list {
  > li {
    &:not(:last-child) {
      margin-bottom: 34px;
    }
    :last-child {
      .btn {
        margin-top: -4px;
      }
    }
  }
}


.wpcf7-form-control {
  &.wpcf7-radio,
  &.wpcf7-checkbox {
    overflow: hidden;
    display: block;
    margin: 20px -20px -10px;
    .wpcf7-list-item {
      float: left;
      display: block;
      width: 50%;
      padding: 0 20px;
      margin: 0 0 20px;
      @media all and ($mobile) {
        float: none;
        width: 100%;
      }
      .wpcf7-list-item-label {
        position: relative;
        z-index: 3;
        display: block;
        width: 100%;
        padding-left: 32px;
        font-size: $size-small;
        font-weight: $normal;
        cursor: pointer;
        &:before {
          position: absolute;
          z-index: 4;
          content: '';
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background-color: $white;
          border: 1px solid #cccccc;
          -webkit-box-shadow: 2px 2px 0 rgba($c-blue, 0.15);
          box-shadow: 2px 2px 0 rgba($c-blue, 0.15);
        }
        &:after {
          position: absolute;
          z-index: 5;
          content: '';
          top: 2px;
          left: 2px;
          width: 18px;
          height: 18px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 256 256' height='256' width='256'%3E%3Cpath d='m77.243 163.37-41.506-41.51-35.237 35.24 76.743 76.74 178.26-178.26-36.78-33.421z' fill-rule='evenodd' fill='%230066BA'/%3E%3C/svg%3E");
          opacity: 0;
        }
      }
      input[type="radio"],
      input[type="checkbox"] {
        position: absolute;
        z-index: 2;
        top: 4px;
        left: 4px;
        opacity: 0;
        &:checked + .wpcf7-list-item-label {
          &:after {
            opacity: 1;
          }
        }
        &:focus {
          + .wpcf7-list-item-label {
            &:before {
              border-color: #4D90FE;
            }
          }
        }
      }
      input[type="radio"] {
        & + .wpcf7-list-item-label {
          &:before {
            @include border-radius(30rem);
            box-shadow: none;
          }
          &:after {
            top: 4px;
            left: 4px;
            width: 14px;
            height: 14px;
            background: $c-blue;
            @include border-radius(30rem);
            //opacity: .15;
          }
        }
      }
    }
    > :nth-child(2n + 1) {
      clear: both;
    }
  }
}

.wpcf7-form-control-wrap {
  &.your-stakeholders_other,
  &.discovery-or-research_other {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    @include transition('height .35s');
    &.show-input {
      height: 48px;
      visibility: visible;
    }
  }
}

