.hr-line {
  display: block;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: $c-blue;
  border: none;
  @media all and ($mobile) {
    height: 25px;
  }
  &.color {
    &-blue {
      background-color: $c-blue;
    }
    &-gold {
      background-color: $c-gold;
    }
    &-gray {
      background-color: $c-gray;
    }
  }
}

.section-two-columns {
  padding: 32px 0 135px;
  .container {
    > .section-title {
      @media all and ($mobile) {
        display: none;
      }
    }
  }
  @media all and ($mobile) {
    padding: 0 0 40px;
  }
  .section-title {
    margin-bottom: 36px;
  }
}
  .columns-wrap {
    display: table;
    width: 100%;
    .section-title {
      display: none;
      margin-bottom: 32px;
      @media all and ($mobile) {
        display: block;
        margin-bottom: 0;
      }
    }
    .centered-img {
      -webkit-box-shadow: 6px 6px 0 rgba(0, 102, 186, 0.15);
      box-shadow: 6px 6px 0 rgba(0, 102, 186, 0.15);
      @media all and ($mobile) {
        margin: 0 -25px 34px;
        width: -webkit-calc(100% + 50px);
        width: calc(100% + 50px);
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    .content {
      margin-bottom: 14px;
    }
    .btn-list {}
    .column-box {
      display: table-cell;
      vertical-align: top;
      > :last-child:not(.btn-list) {
        margin-bottom: 0;
      }
      &:first-child {
        &:nth-last-child(2) {
          width: 48.7%;
          @media all and ($tablet) {
            width: 40%;
          }
          @media all and ($mobile) {
            display: block;
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
      &:nth-child(2) {
        &:last-child {
          padding-left: 30px;
          //padding-top: 14px;
          @media all and ($mobile) {
            display: block;
            padding: 0;
          }
        }
      }
      //.reverse-box {
      //  //.inner-box {}
      //  @media all and ($mobile) {
      //    display: table;
      //    width: 100%;
      //    .inner-box {
      //      &:first-child {
      //        &:nth-last-child(2) {
      //          display: table-cell;
      //          width: 100%;
      //          padding-top: 32px;
      //        }
      //      }
      //
      //      &:nth-child(2) {
      //        &:last-child {
      //          display: table-header-group;
      //          width: 100%;
      //        }
      //      }
      //    }
      //  }
      //}
      @media all and ($mobile) {
        & + .column-box {

        }
      }
    }

  }