a.btn, .btn {
  position: relative;
  display: inline-block;
  padding: 19px 25px;
  @include font($semi-bold, $size-small, $font-main, $line-height-heading-2);
  letter-spacing: .025em;
  color: $white;
  border: 0;
  background: $color-bg2;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  @media all and ($mobile-small) {
    font-size: 16px;
  }
  @media all and ($start-hover) {
    &:hover,
    &:focus {
      background: $c-blue-h;
    }
  }
  &.internal-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 44px;
    padding-left: 14px;
    position: relative;
    text-align: left;
    max-width: 445px;
    min-width: 264px;
    width: 100%;
    @media all and ($mobile) {
      padding-left: 14px;
      padding-right: 40px;
      letter-spacing: .025em;
    }
    @media all and ($mobile-small) {
      min-width: 100%;
    }
    &:after {
      position: absolute;
      content: "\e902";
      font-family: 'iconfont';
      font-size: 12px;
      right: 12px;
      top: 50%;
      @include css3-prefix('transform', 'translateY(-50%)');
    }
  }
  .inverse & {
    color: $c-blue;
    background: $white;
    &.internal-link {
      &:after {
        color: $c-blue;
      }
    }
    @media all and ($start-hover) {
      &:hover,
      &:focus {
        background: #e2e2e2;
      }
    }
  }
}

#skip-to-content a:not(:focus) {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#skip-to-content a:focus {
  position: absolute;
  z-index: 1002;
  left: 50%;
  padding: 10px 20px;
  color: $color-text2;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
  @include css3-prefix('transform', 'translateX(-50%)');
}

a.btn-small, .btn-small {
  position: relative;
  display: inline-block;
  padding: 6px 0 9px;
  @include font($semi-bold, $size-smaller, $font-main, $line-height-heading-2);
  letter-spacing: .02em;
  color: $color-text2;
  border: 0;
  background: transparent;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  span {
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      max-width: 1200px;
      height: 3px;
      left: 50%;
      bottom: 0;
      background-color: $c-gold;
      @include css3-prefix('transform', 'translateX(-50%)');
      @include css3-prefix('transition', 'max-width 0.35s ease-out');
    }
  }
  @media all and ($start-hover) {
    &:hover,
    &:focus {
      span {
        &:after {
          max-width: 0;
        }
      }
    }
  }
  .inverse & {
    color: $white;
  }
}

