#header {
  position: relative;
  z-index: 100;
  padding: 50px 0;
  background-color: $white;
  @media all and ($mobile) {
    width: 100%;
    padding: 25px 0 25px;
    text-align: center;
    .admin-bar & {
      margin-top: 46px;
    }
  }
  @media all and (max-width: 600px) {
    .admin-bar & {
      margin-top: 0;
    }
  }
  .container {
    @media all and (max-width: 360px) {
      padding: 0 10px;
    }
  }
}

  .logo {
    overflow: hidden;
    display: inline-block;
    max-width: 444px;
    margin-right: 10px;
    @include transition($transition-other);
    vertical-align: middle;
    @media all and ($tablet) {
      max-width: 222px;
    }
    @media all and ($mobile) {
      margin-top: 70px;
      margin-right: auto;
      max-width: 444px;
      .admin-bar & {
        margin-top: 19px;
      }
    }
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

.mobile-menu-wrap,
.mobile-menu-toggle {
  display: none;
  @media all and ($mobile) {
    display: block;
  }
}

.mobile-menu-wrap {
  position: fixed;
  z-index: 99999;
  right: 0;
  height: 0;
  width: 0;
  top: 64px;
  @include css3-prefix('transition-delay',$transition-other);
  .admin-bar & {
    top: 110px;
    @media all and (max-width: 600px) {
      top: 64px;
    }
  }
  &.showing {
    height: 100%;
    width: 100%;
    @include css3-prefix('transition-delay','0s');
  }
}

.mobile-menu-overlay {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.25);
  opacity: 0;
  @include css3-prefix('transition','opacity .35s');
  .showing & {
    opacity: 1;
  }
}

.mobile-menu-box {
  position: absolute;
  width: 100%;
  height: 100%;
  right: -100%;
  z-index: 2;
  padding-bottom: 100px;
  text-align: left;
  background-color: rgba($white,.9);
  @include css3-prefix('transition','right .35s');
  @include css3-prefix('box-shadow',' -10px 10px 30px rgba(0,0,0,.2)');
  overflow: auto;
}
.showing .mobile-menu-box {
  right: 0
}
.mobile-menu-toggle {
  position: fixed;
  right: 0;
  top: 0;
  height: 64px;
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
  font-size: 26px;
  background-color: $color-bg2;
  .admin-bar & {
    top: 46px;
  }
  @media all and (max-width: 600px) {
    .admin-bar & {
      top: 0;
    }
  }
}
.mobile-menu-toggle span:before,
.mobile-menu-toggle span:after,
.mobile-menu-toggle span {
  position: absolute;
  display: block;
  content: '';
  cursor: pointer;
  height: 5px;
  width: 34px;
  background-color: $white;
  @include css3-prefix('transition','all .35s');
}
.mobile-menu-toggle span {
  z-index: 999999;
  right: 9px;
  top: 50%;
  @include css3-prefix('transform','translate(-50%,-50%)');
}
.mobile-menu-toggle span:before {
  top: -12px;
}
.mobile-menu-toggle span:after {
  bottom: -12px;
}
.mobile-menu-toggle.active span {
  background-color: transparent;
}
.mobile-menu-toggle.active span:before {
  @include css3-prefix('transform','rotate(45deg)');
  top: 0;
}
.mobile-menu-toggle.active span:after {
  @include css3-prefix('transform','rotate(-45deg)');
  bottom: 0;
}