.main-nav {
  display: inline-block;
  @include calc('max-width', '100% - 460px');
  width: 100%;
  text-align: right;
  @media all and ($tablet) {
    @include calc('max-width', '100% - 240px');
  }
  @media all and ($mobile) {
    display: none;
  }
  > ul {
    display: block;
    margin-right: -23px;
    //display: table;
    //width: 100%;
    //table-layout: fixed;
    @media all and ($laptop) {
      margin-right: -5px;
    }
    > li {
      position: relative;
      //display: table-cell;
      //vertical-align: top;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      a {
        position: relative;
        display: inline-block;
        padding: 14px 17px;
        @include font($bold, $size-smaller, $font-main, $line-height-heading-3);
        color: $color-text2;
        text-decoration: none;
        text-transform: uppercase;
        @media all and ($laptop) {
          padding-left: 5px;
          padding-right: 5px;
        }
        > span {
          position: relative;
          display: inline-block;
          padding: 0 5px;
          &:after {
            position: absolute;
            z-index: 1;
            content: '';
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 15px;
            background: #FFE666;
            max-height: 0;
            transition: max-height 0.25s ease-out;
          }
          span {
            position: relative;
            z-index: 3;
          }
        }
        @media all and ($start-hover) {
          &:hover, &:focus {
            span {
              &:after {
                @include main-item-hovered();
              }
            }
          }
        }
      }
      &.current-menu-item > a,
      &.current-menu-parent > a,
      &.current-menu-ancestor > a {
        span {
          &:after {
            @include main-item-hovered();
          }
        }
      }
      &:hover {
        .sub-menu {
          opacity: 1;
          visibility: visible;
          margin: 0;
        }
      }
    }
  }
  .sub-menu {
    overflow: hidden;
    display: block;
    position: absolute;
    z-index: 10;
    top: 36px;
    left: 0;
    min-width: 100%;
    padding: 8px 0;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    background-color: $white;
    background-color: rgba($white, 0.91);
    @include css3-prefix('box-shadow','0 5px 10px 0 rgba(0,0,0,.2)');
    @include transition($transition-other);
    li {
      display: block;
      min-width: 250px;
    }
    a {
      font-size: $size-smaller;
    }
    .current-menu-item a {
      span {
        &:after {
          @include main-item-hovered();
        }
      }
    }
  }
}


.mobile-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  > li {
    position: relative;
    display: block;
    a {
      position: relative;
      display: block;
      text-transform: uppercase;
      margin: 0 15px 5px;
      padding: 7px 0;
      @include font($bold, $size-big, $font-main, $line-height-heading-3);
      color: $color-text2;
      text-decoration: none;
      .fas  {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        text-align: center;
        line-height: 40px;
        @include css3-prefix('transform-origin','50% 50%');
        @include css3-prefix('transform','translate(0, -50%)');
        @include transition($transition-other)
      }
      > span {
        position: relative;
        display: inline-block;
        &:after {
          position: absolute;
          z-index: 1;
          content: '';
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 15px;
          background: #FFE666;
          max-height: 0;
          transition: max-height 0.25s ease-out;
          transform: none;
        }
        span {
          position: relative;
          z-index: 3;
          padding: 0 5px;
        }
      }
    }
  }
  .current-menu-item a,
  .current-menu-parent > a,
  .current-menu-ancestor > a {
    span {
      &:after {
        @include main-item-hovered();
      }
    }
  }
  .sub-menu {
    padding-left: 20px;
    a {
      font-size: $size-main;
      @media all and ($start-hover) {
        &:hover {
          text-decoration:none;
        }
      }
    }
    .sub-menu {
      padding-left: 45px;
    }
  }
}

